html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Testing styles */
span.tile5 {
  background-color: grey;
  padding: 0 5px;
}
span.tile6 {
  background-color: purple;
  padding: 0 5px;
}
span.tile7 {
  background-color: rgb(49, 49, 49);
  padding: 0 5px;
}
span.tile8 {
  background-color: pink;
  padding: 0 5px;
}
